/* ------------------------------------------------------------ *\
    Raffle
\* ------------------------------------------------------------ */

.section-raffle {
    padding: 20rem 0;

    .section__inner {
        max-width: 120rem;
        margin: 0 auto;
    }

    .section__head {
        margin: 0 auto 7rem;
        text-align: center;

        h2 {
            color: var(--primary);
        }
    }

    .section__comments {
        margin: 0 auto;
    }

    .section__raffle {
        margin-bottom: 6.4rem;
    }

    .grid {
        margin: -1.6rem;
        .grid__col {
            padding: 1.6rem;
        }
    }

    .section__awards {
        margin-bottom: 4rem;
        width: 100%;
        ul {
            display: flex;
            justify-content: center;
            align-items: flex-end;
            list-style-type: none;
            margin: -1.2rem;
        }

        li {
            flex: 1;
            padding: 1.2rem;
        }

        li:nth-child(2) .voucher {
            background-color: var(--blue-400);
            color: #fff;
        }

        li:nth-child(3) .voucher {
            background-color: var(--blue-300);
        }

        .voucher {
            max-width: 20rem;
            margin: 0 auto;
        }

        .voucher:before, 
        .voucher:after {
            background-color: #fff;
        }

        li > h3 {
            padding: 1rem;
            background-color: var(--blue-100);
            text-align: center;
            margin: 2.4rem auto 0;
        }
    }
}

/* ------------------------------------------------------------ *\
    raffle-container
\* ------------------------------------------------------------ */

.raffle {
    .raffle__content {
        display: block;
        width: 100%;
        height: 20rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--blue-200);
        margin-bottom: 2.4rem;
        border-radius: var(--box-radius-l);
    }

    .raffle__button {
        margin-bottom: 4rem;
        span + span {
            display: none;
        }
        .btn.active {
            display: none;
            background-color: var(--primary);

            span + span {
                display: block;
            }
        }
    }

    .raffle__list {
        h4 {
            margin-bottom: 5rem;
        }

        ul {
            list-style-type: none;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: center;
            margin: -.4rem;
        }

        li {
            padding: .4rem;
        }

        span {
            padding: 1rem 2rem;
            border: .1rem solid var(--blue-100);
            border-radius: 20rem;
            white-space: nowrap;
            display: inline-block;
        }
    }
}