/* ------------------------------------------------------------ *\
    section-singer
\* ------------------------------------------------------------ */

.section-singer {
    padding: 20rem 0 12rem;

    .section__head {
        margin-bottom: 12rem;
    }

    .section__image {
        position: relative;
        padding-top: 100%;
        overflow: hidden;

        &:before {
            content: '';
            width: 90%;
            height: 90%;
            background-color: var(--blue-200);
            border-radius: 50%;
            position: absolute; 
            bottom: -1rem;
            left: 0;
        }

        img {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, 0);
            min-width: 100%;
            min-height: 100%;
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }

    .section__entry {
        padding-left: 4rem;
        
        p {
            font-size: 2.4rem;
        }
    }

    .grid {
        align-items: center;
        margin: 0 -2rem;

        .grid {
            padding: 0 2rem;
        }
    }

    .section__songs {
        display: flex;
        flex-wrap: wrap;
        position: relative;
    }

    .section__title {
        max-width: 100%;
        flex: 0 0 100%;
        margin-bottom: 6.4rem;
    }

    .section__list {
        max-width: 50%;
        flex: 0 0 50%;

        ul {
            list-style-type: none;
            font-size: 2rem;
            display: flex;
            flex-wrap: wrap;
            margin: 0 -1rem;
        }

        li {
            padding: 0 1rem;
            padding-left: 4rem;
            position: relative;
            margin-bottom: 3.2rem;
            max-width: 50%;
            flex: 0 0 50%;
            font-weight: 600;

            &::before {
                content: '';
                display: inline-block;
                width: 3rem;
                height: 3rem;
                background-color: var(--blue-500);
                mask-size: 100% auto;
                mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="800" height="800" viewBox="0 0 450.541 450.541"><path d="M84.003 62.628a8.996 8.996 0 0 1-12.294 3.294l-19.903-11.49c-4.305-2.484-5.779-7.989-3.294-12.294a8.997 8.997 0 0 1 12.294-3.294l19.903 11.49c4.305 2.484 5.779 7.989 3.294 12.294zM71.709 222.455l-19.903 11.49c-4.305 2.484-5.779 7.989-3.294 12.294a8.994 8.994 0 0 0 12.294 3.294l19.903-11.49c4.305-2.484 5.779-7.989 3.294-12.294-2.483-4.303-7.985-5.779-12.294-3.294zm-9.56-78.267a9 9 0 0 0-9-9H30.166c-4.971 0-9 4.029-9 9s4.029 9 9 9h22.983a9 9 0 0 0 9-9zm312.192-77.059c1.526 0 3.074-.39 4.491-1.208l19.903-11.491a9 9 0 0 0 3.294-12.294c-2.484-4.304-7.988-5.779-12.294-3.294l-19.903 11.491a9 9 0 0 0-3.294 12.294 8.994 8.994 0 0 0 7.803 4.502zm-149.07-29.811c-4.971 0-9 4.029-9 9s4.029 9 9 9c16.063 0 29.131 13.068 29.131 29.131 0 4.971 4.029 9 9 9s9-4.029 9-9c0-25.988-21.142-47.131-47.131-47.131zm59.412 369.983c-.854 18.946-15.87 33.787-34.185 33.787h-5.627a9 9 0 0 1-8.989 9.453h-21.221a9 9 0 0 1-8.988-9.453h-5.63c-18.315 0-33.331-14.841-34.186-33.787l-9.599-212.985a117.339 117.339 0 0 1-24.3-23.852 9 9 0 0 1-1.833-5.443v-38.385a9 9 0 0 1 9-9h.614V85.53C139.74 38.369 178.109 0 225.271 0c47.161 0 85.53 38.369 85.53 85.53v32.105h.613a9 9 0 0 1 9 9v38.385a9.003 9.003 0 0 1-1.832 5.443 117.39 117.39 0 0 1-24.301 23.851l-1.059 23.504c-.224 4.965-4.407 8.793-9.396 8.586-4.965-.224-8.81-4.431-8.586-9.396l.813-18.045H174.487l3.505 77.786h15.304c4.971 0 9 4.029 9 9s-4.029 9-9 9h-14.492l5.036 111.741c.419 9.307 7.537 16.598 16.203 16.598h50.455c8.666 0 15.783-7.291 16.202-16.598.224-4.966 4.436-8.807 9.396-8.586a9.002 9.002 0 0 1 8.587 9.397zM157.74 117.636h135.062V85.53c0-37.236-30.294-67.53-67.53-67.53-37.237 0-67.531 30.294-67.531 67.53v32.106zm10.792 63.327h113.477a99.392 99.392 0 0 0 20.406-19.045v-26.046c-.926.062-153.36.063-154.289 0v26.045a99.362 99.362 0 0 0 20.406 19.046zm194.392 115.6c5.789 18.314-9.17 27.178-19.068 33.043-2.071 1.227-5.265 3.119-6.945 4.461.589 2.031 2.063 5.341 3.021 7.489 4.7 10.558 11.803 26.511-4.106 37.876-15.633 11.164-28.672-.313-37.301-7.908-1.807-1.59-4.593-4.042-6.389-5.226-1.749 1.188-4.443 3.614-6.191 5.188-5.983 5.387-14.097 12.69-23.787 12.692-4.218 0-8.731-1.383-13.501-4.907-15.451-11.414-8.567-27.357-4.013-37.907.956-2.214 2.429-5.627 3.005-7.707-1.676-1.299-4.815-3.111-6.855-4.288a18.02 18.02 0 0 1-.502-.305c-9.286-5.363-24.567-14.324-18.421-32.739 6.077-18.205 23.362-16.586 34.798-15.519 2.409.225 6.106.566 8.266.472.717-1.993 1.47-5.541 1.959-7.844 1.276-6.015 2.597-12.234 5.739-17.45 4.245-7.047 11.018-10.767 19.597-10.767l.24.001c19.21.151 23.015 17.1 25.531 28.315.527 2.35 1.341 5.974 2.099 7.985 2.114.066 5.732-.31 8.079-.556 11.495-1.206 28.855-3.035 34.745 15.601zm-17.163 5.425c-1.111-3.511-2.111-4.554-15.688-3.124-7.533.789-15.302 1.604-20.794-2.382-5.468-3.976-7.183-11.615-8.842-19.004-2.878-12.823-4.188-14.229-8.109-14.259-.066.001-.145-.001-.216-.001-3.526 0-4.832.857-7.612 13.955-1.569 7.391-3.192 15.032-8.672 19.012-5.485 3.981-13.284 3.251-20.827 2.544-3.712-.347-6.51-.53-8.643-.53-5.384 0-6.527 1.169-7.414 3.826-1.139 3.412-.949 4.929 10.521 11.553.139.081.276.165.411.253 6.464 3.729 13.234 7.638 15.328 14.092 2.084 6.4-1.027 13.607-4.036 20.577-5.206 12.059-4.973 13.964-1.816 16.295 2.971 2.196 4.397 2.454 14.543-6.681 5.615-5.056 11.418-10.28 18.202-10.28 6.754 0 12.634 5.175 18.319 10.179 9.869 8.687 11.754 9.052 14.946 6.772 3.001-2.144 3.685-3.418-1.875-15.906-3.072-6.896-6.249-14.028-4.148-20.485 2.081-6.416 8.822-10.41 15.341-14.272 11.328-6.714 12.262-8.394 11.081-12.134zM221.31 228.856c-4.971 0-9 4.029-9 9s4.029 9 9 9h7.923c4.971 0 9-4.029 9-9s-4.029-9-9-9h-7.923zm177.425 5.09-19.903-11.49c-4.309-2.486-9.811-1.01-12.294 3.294-2.485 4.305-1.011 9.81 3.294 12.294l19.903 11.49a8.998 8.998 0 0 0 12.294-3.294 8.999 8.999 0 0 0-3.294-12.294zm21.64-98.758h-22.983c-4.971 0-9 4.029-9 9s4.029 9 9 9h22.983c4.971 0 9-4.029 9-9s-4.029-9-9-9z"/></svg>');
                position: absolute;
                top: -.4rem;
                left: 0;
            }
        }
    }

    .section__icon {
        max-width: 50%;
        flex: 0 0 50%;
        position: absolute;
        top: -6rem;
        right: 0;
        opacity: .75;

        img {
            display: block;
            max-width: 75%;

            height: auto;
            margin: 0 0 0 auto;
        }
    }
}