/* ------------------------------------------------------------ *\
    section-singers-slider
\* ------------------------------------------------------------ */

.section-singers-slider {
    padding: 8rem 0;
    background-color: var(--white);

    .section__head {
        text-align: center;
        margin-bottom: 6.4rem;
    }

    .section__body {
        margin-bottom: 6.4rem;
    }

    .section__foot {
        text-align: center;
    }

    .tile-singer {
        .tile__content {
            h3 {
                font-size: 3.2rem;
                margin-bottom: 0;
            }

            .btn {
                display: none;
            }
        }
    }
}

.swiper {
    overflow: visible;

    .swiper-button-prev,
    .swiper-button-next {
        display: inline-block;
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        background-color: var(--blue-500);

        &:after {
            position: absolute; 
            top: 50%; 
            left: 50%; 
            transform: translate(-50%, -50%);
            font-size: 2.4rem;
            color: var(--blue-100);
        }
    }
}